@page
@using Microsoft.Extensions.Logging
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var showToast = false;

    if (ViewData["ShowToast"] != null)
    {
        showToast = Convert.ToBoolean(ViewData["ShowToast"]);
    }
}

@if (showToast)
{
    <div class="toast" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 80px; right: 30px;">
        <div class="alert alert-success m-0">
            <div class="toast-body">
                <button type="button" class="close" data-dismiss="toast" aria-label="Close" style="position: absolute; top: 0; right: 0">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong class="mr-auto">Success!</strong>
                <p>The log message was sent to the API.</p>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-12 text-center">
        <h2>Send Log</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <form method="post">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="LogLevel">Log Level</label>
                        <select asp-for="LogLevel" class="form-control">
                            <option value="@LogLevel.Debug">Debug</option>
                            <option value="@LogLevel.Information">Information</option>
                            <option value="@LogLevel.Warning">Warning</option>
                            <option value="@LogLevel.Error">Error</option>
                            <option value="@LogLevel.Critical">Critical</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Message">Message</label>
                        <input asp-for="Message" class="form-control">
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName">User Name</label>
                        <input asp-for="UserName" class="form-control">
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input asp-for="GenerateExceptionData" type="checkbox" class="custom-control-input">
                        <label asp-for="GenerateExceptionData" class="custom-control-label">Generate exception data</label>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Send log</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".toast").toast("show", {
                autohide: false
            });
        });
    </script>
}